<ion-view title="Cart" id="page2" style="background-color:#5C031A;" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="cart-button-bar1" class=" button-bar "></div>
        <h3 id="cart-heading1" style="color:#FAFAFA;text-align:center;" class=" ">Opciones</h3>
        <button id="cart-button1" class=" button button-assertive  button-block ">1</button>
        <button id="cart-button2" class=" button button-assertive  button-block ">2</button>
        <button id="cart-button3" class=" button button-assertive  button-block ">3</button>
    </ion-content>
</ion-view>