<ion-view title="Change Password" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form1" class="list">
            <label class="item item-input" id="changePassword-input5">
                <span class="input-label">Nueva</span>
                <input type="password" placeholder="" ng-model="newPass">
            </label>
            <label class="item item-input" id="changePassword-input6">
                <span class="input-label">Verifique Nueva</span>
                <input type="password" placeholder="" ng-model="newPass2">
            </label>
        </form>
        <button id="changePassword-button4" class="button button-positive  button-block" ng-click = "change(newPass, newPass2)" >Cambiar</button>
        <a ui-sref="edit" id="changePassword-button5" class="button button-positive button-small button-block">Cancelar</a>
    </ion-content>
</ion-view>