<ion-view title="Detalle Producto" id="detail-product">
    <ion-content padding="true" class="has-header" ng-model="data_product">

        <ion-list id="edit-product">
            <ion-item id="page-list-product-detail-1" >{{ data_product.id }}</ion-item>
            <ion-item id="page-list-product-detail-2" >{{ data_product.name }}</ion-item>
            <ion-item id="page-list-product-detail-3" >{{ data_product.type }}</ion-item>
            <ion-item id="page-list-product-detail-4" >{{ data_product.quantity }}</ion-item>
            <ion-item id="page-list-product-detail-4" >{{ data_product.price }}</ion-item>
        </ion-list>

    	<button class="button button-block button-positive" href="#/edit-product/" >Editar</button>

        <button class="button button-block button-positive" ng-click="deleteProduct()" >Eliminar</button>
    </ion-content>
</ion-view>