<ion-view title="Edit" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list id="edit-list1">
            <ion-item id="edit-list-item1">Email</ion-item>
            <label class="item item-input" id="edit-input1">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="edit-input2">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="edit-input3">
                <span class="input-label">Telefono</span>
                <input type="number" placeholder="">
            </label>
        </ion-list>
        <button id="edit-button1" class="button button-positive  button-block">Cambiar</button>
        <a ui-sref="changePassword" id="edit-button3" class="button button-positive button-small button-block">Cambiar Pasword</a>
        <button id="edit-button2" class="button button-positive button-small button-block">Eliminar Perfil</button>
    </ion-content>
</ion-view>