<ion-view title="Detalle Producto" id="detail-product">
    <ion-content padding="true" class="has-header" ng-model="data_product">

        <ion-list id="edit-list1">
            <label class="item item-input" id="edit-input3">
                <span class="input-label">Código: </span>
                <span class="input-label">{{ id }}</span>
            </label>
            <label class="item item-input" id="edit-input1">
                <span class="input-label">Nombre: </span>
                <input class="input-label">{{ name }}</span>
            </label>
            <label class="item item-input" id="edit-input2">
                <span class="input-label">Tipo: </span>
                <input class="input-label">{{ type }}</span>
            </label>
            <label class="item item-input" id="edit-input3">
                <span class="input-label">Cantidad: </span>
                <input class="input-label">{{ quantity }}</span>
            </label>
            <label class="item item-input" id="edit-input3">
                <span class="input-label">Valor: </span>
                <input class="input-label">{{ price }}</span>
            </label>
        </ion-list>

    </ion-content>
</ion-view>