<ion-view title="Ingreso" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="ingreso-form1" class="list ">
            <div class="spacer" style="height: 100px;"></div>
            <label class="item item-input " id="ingreso-input1">
                <span class="input-label">e mail</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="ingreso-input3">
                <span class="input-label">Passport</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="ingreso-button3" class=" button button-positive  button-block ">Tap me!</button>
    </ion-content>
</ion-view>