<ion-view title="Ingreso" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="ingreso-form1" class="list ">
            <div class="spacer" style="height: 100px;"></div>
            <label class="item item-input " id="ingreso-input1">
                <span class="input-label">E mail</span>
                <input type="email" placeholder=""  ng-model="email">
            </label>
            <label class="item item-input " id="ingreso-input3">
                <span class="input-label">Password</span>
                <input type="password" placeholder=""  ng-model="pass">
            </label>
        </form>
        <button id="ingreso-button3" class=" button button-positive  button-block " ng-click="login()">Ingresar</button>
    </ion-content>
</ion-view>