<ion-view title="Page" id="page4" style="background-color:#8B0621;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="page-card21">
            <ion-item class="item-avatar assertive  " id="page-list-item5">
                <img src="img/jL00E4TTEqEX7zFaADrM_avatar.jpg">
                <h2assertive>Item</h2assertive>
            </ion-item>
            <div class=" item item-image">
                <img src="img/3lpi7HwBRdGBNPdkMAHl_1386176081_RESPOND-Overview.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="page-list-item-container1">
                <p id="page-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="page-list-item6">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
    </ion-content>
</ion-view>