<ion-view title="Detalle del perfil" id="detail">
    <ion-content padding="true" class="has-header">

        <ion-list id="page-profile-detail-1">
            <ion-item id="page-list-profile-detail-1" >{{ email }}</ion-item>
            <ion-item id="page-list-profile-detail-2" >{{ firtsname }}</ion-item>
            <ion-item id="page-list-profile-detail-3" >{{ lastname }}</ion-item>
            <ion-item id="page-list-profile-detail-4" >{{ phone }}</ion-item>
        </ion-list>
        <a ui-sref="edit" id="editPerfil-button5" class="button button-positive button-small button-block" href="#/edit/">Editar Perfil</a>
    </ion-content>
</ion-view>
