<ion-view title="Registro" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="registro-form3" class="list ">
            <label class="item item-input " id="registro-input4">
                <span class="input-label">E mail</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registro-input5">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registro-input7">
                <span class="input-label">Apellidos</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registro-input8">
                <span class="input-label">Telefono</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registro-input9">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="registro-button4" class=" button button-positive  button-block ">Registro</button>
    </ion-content>
</ion-view>